input{font-size: 1.3em; line-height: 1.4em; margin: 1em 1em 1em 0; border: 1px #777 solid !important;}
.nl em{color: #a00; font-size: 1.2em; font-weight: bold; font-style: normal;}
.hideit, .ehideit, .mhideit{display: none;}
.showit, .eshowit, .mshowit{display: block;}
span.pluginbyline{font-size: 0.6em; display: block; font-weight: normal;}
fieldset{margin: 2em; border: 2px #ccc solid; padding: 2em 1em;}
.mainopt{font-size: 1.4em; color: #039;}
.optsect{border: 1px #aaa solid; padding: 1em; margin: 1em 0;}
.logo{float: right; padding: 5px; margin: 1em; border: 1px #ccc solid;}
.ptshow{margin-left: 2em; list-style-type:circle;}

.APIConfig{margin: 2em; border-left: 2px #090 solid; padding-left: 1em;}
.sectheaders{display: block; border-bottom: 1px #000 solid; font-size: 1.4em; margin-top: 2em;}
select{font-size: 1em !important;}
#snipprefixsel{min-weight: 200px; margin-top: 0.5em;}

input.apipassval{width: 50%;}
.apifields{display: block;}
.reqfielderror{border: 1px #FFAFAF solid; background: #FFEFEF; padding: 1em; margin: 1em; display: none; width: 50%; font-weight: bold;}

.nl{padding-left: 1em;padding-top: 1em;}
.nl label{font-weight: bold;}
.nl small{color: #333; display: block;}
.nl ol{ padding: 1em;}

#htre input{width: 50%; display: block;}
.betaserv{color: #a00;}
.betaservopt{background: #FFCACB;}
.betaservdes{background: #FFCACB; padding: 1em; font-size: 1.2em;}